<?xml version="1.0" encoding="utf-8"?>
<config>
    <system>
        <unicode>UTF-8</unicode>
        <app_sign>suyuan</app_sign>

        <!--东利服务器-->
        <!--<server>http://10.10.100.193:8082/</server>-->
        <!--rap服务器-->
        <!--<server>http://rap.qi-cloud.org/mockjs/189/</server>-->
        <!--测试服务器-->
        <server>http://nzsy.demo.qi-cloud.com/</server>
        <!--正式环境-->
        <!--<server>http://sy.xianshili.net/</server>-->

    </system>
</config>
